# fly.toml app configuration file generated for seocho-channel-tennis on 2026-02-10T17:54:25+09:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'seocho-channel-tennis'
primary_region = 'nrt'

[build]

[http_service]
  internal_port = 8550
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
